* {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

#torre_de_hanoi {
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 107px;
    gap: 71px;
}
#container-torre-1, #container-torre-2, #container-torre-3 {
    height: 291px;
}
#torre1, #torre2, #torre3 {
    background-image: url(/Image/Torre_Hanoi.png);
    background-repeat: no-repeat;
    padding-bottom: 71px;
    height: 100%;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
li {
    height: 37px;
    text-align: center;
    line-height: 20px;
    color: black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons {
    display: flex;
    gap: 16px;
    flex-direction: row;
    margin-top: 3px;
    padding: 10px 40px;
    justify-content: center;
}
.buttons > button {
    width: 154px;
    height: 37px;
}
.buscaminas {
    display: flex;
    flex-direction: column;
    align-items: center;
}